body {
    overflow-x: hidden;
}

.page-wrapper .top-header .form-inline {
    position: relative;
}
.page-wrapper .top-header .form-inline input {
    margin-right: 0 !important;
}
.page-wrapper .top-header .form-inline .btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 !important;
}

.page-wrapper .two-column-content-block .snippet-content .snippet-block {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.page-wrapper .two-column-content-block .snippet-content .snippet-block:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
footer {
    color: #fff;
}
footer p {
    margin-bottom: 0;
}